<?php include 'view/site/common/header.phtml'; ?>
<!-- Main Content -->
<main class="content">
    <h1 class="title new-item">New Category</h1>
    <form action="<?php echo $url_submit; ?>" method="POST">
        <div class="input-field">
            <label for="category-name" class="label">Name</label>
            <input type="text" name="name" class="input-text" value="<?php echo $name; ?>" maxlength="60">
            <?php if (!empty($error_name)) { ?>
                <p class="text-error"><?php echo $error_name; ?></p>
            <?php } ?>
        </div>
        <div class="input-field">
            <label for="category-code" class="label">Code</label>
            <input type="text" name="code" class="input-text" value="<?php echo $code; ?>" maxlength="11"/>
            <?php if (!empty($error_code)) { ?>
                <p class="text-error"><?php echo $error_code; ?></p>
            <?php } ?>
        </div>
        <div class="actions-form">
            <a href="<?php echo $url_back; ?>" class="action back">Back</a>
            <button type="submit" class="btn-submit btn-action">Save</button>
        </div>
    </form>
</main>
<!-- Main Content -->
<?php include 'view/site/common/footer.phtml'; ?>
