<?php include 'view/site/common/header.phtml'; ?>
<main class="content">
    <h1 class="title new-item">Import Categories</h1>
    <form action="<?php echo $url_submit; ?>" method="POST" enctype="multipart/form-data">
        <div class="input-field">
            <label for="description" class="label">File</label>
            <input type="file" name="file" class="input-text"/>
            <?php if (!empty($error_file)) { ?>
                <p class="text-error"><?php echo $error_file; ?></p>
            <?php } ?>
        </div>
        <div class="actions-form">
            <a href="<?php echo $url_back; ?>" class="action back">Back</a>
            <button type="submit" class="btn-submit btn-action">Import Categories</button>
        </div>
    </form>
</main>
<!-- Main Content -->
<?php include 'view/site/common/footer.phtml'; ?>
