<?php include 'view/site/common/header.phtml'; ?>
<!-- Main Content -->
<main class="content">
    <div class="header-list-page">
        <h1 class="title">Categories</h1>
        <a href="<?php echo $url_import; ?>" class="btn-action">Import</a>
        <a href="<?php echo $url_add; ?>" class="btn-action">Add new Category</a>
    </div>
    <?php if (isset($success)) { ?>
        <p class="text-success"><?php echo $success; ?></p>
    <?php } ?>
    <table class="data-grid">
        <tr class="data-row">
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Name</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Code</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Actions</span>
            </th>
        </tr>
        <?php if (count($all_category) > 0) { ?>
            <?php foreach ($all_category as $category) { ?>
                <tr class="data-row">
                    <td class="data-grid-td">
                        <span class="data-grid-cell-content"><?php echo $category['name']; ?></span>
                    </td>
                    <td class="data-grid-td">
                        <span class="data-grid-cell-content"><?php echo $category['code']; ?></span>
                    </td>
                    <td class="data-grid-td">
                    <div class="actions">
                        <div class="action edit"><a href="<?php echo $category['edit']; ?>">Edit</a></div>
                        <div class="action delete"><a onclick="return confirm('Tem certeza que deseja excluir a categoria?')" href="<?php echo $category['delete']; ?>">Delete</a></div>
                    </div>
                    </td>
                </tr>
            <?php } ?>
        <?php } else { ?>
            <tr class="data-row">
                <td class="data-grid-td" colspan="3">
                    <span class="data-grid-cell-content">Nenhum resultado encontrado</span>
                </td>
            </tr>
        <?php } ?>
    </table>
</main>
<!-- Main Content -->
<?php include 'view/site/common/footer.phtml'; ?>