
        <!-- Footer -->
        <footer>
            <div class="footer-image">
                <img src="<?php echo APP_ROOT;?>/assets/images/go-jumpers.png" width="119" height="26" alt="Go Jumpers" />
            </div>
            <div class="email-content">
                <span>go@jumpers.com.br</span>
            </div>
        </footer>
        <!-- Footer -->
    </body>
</html>