<!doctype html>
<html ⚡>
    <head>
        <title>Webjump | Backend Test | Dashboard</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1">

        <link  rel="stylesheet" type="text/css"  media="all" href="<?php echo APP_ROOT;?>/assets/css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet" />

        <script async src="https://cdn.ampproject.org/v0.js"></script>
        <script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
        <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
        <script type="text/javascript" src="<?php echo APP_ROOT;?>/assets/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="<?php echo APP_ROOT;?>/assets/js/jquery.maskMoney.js"></script>

        <style amp-boilerplate>
            body {
                -webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;
                -moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;
                -ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;
                animation:-amp-start 8s steps(1,end) 0s 1 normal both
            }
            @-webkit-keyframes -amp-start {
                from {
                visibility:hidden;
                } to {
                visibility:visible;
                }
            }
            @-moz-keyframes -amp-start {
                from {
                visibility:hidden;
                } to {
                visibility:visible;
                }
            }
            @-ms-keyframes -amp-start {
                from {
                visibility:hidden;
                } to {
                visibility:visible;
                }
            }
            @-o-keyframes -amp-start {
                from {
                visibility:hidden;
                } to {
                visibility:visible;
                }
            }
            @keyframes -amp-start {
                from {
                visibility:hidden;
                } to {
                visibility:visible;
                }
            }
        </style>
        
        <style amp-boilerplate>
            body {
                -webkit-animation:none;
                -moz-animation:none;
                -ms-animation:none;
                animation:none
            }
        </style>
    </head>
    <body>
        <!-- Header -->
        <amp-sidebar id="sidebar" class="sample-sidebar" layout="nodisplay" side="left">
        <div class="close-menu">
            <a on="tap:sidebar.toggle">
                <img src="<?php echo APP_ROOT;?>/assets/images/bt-close.png" alt="Close Menu" width="24" height="24" />
            </a>
        </div>
        <a href="<?php echo APP_ROOT; ?>dashboard/index"><img src="<?php echo APP_ROOT;?>/assets/images/menu-go-jumpers.png" alt="Welcome" width="200" height="43" /></a>
        <div>
            <ul>
                <li><a href="<?php echo APP_ROOT; ?>category/list" class="link-menu">Categories</a></li>
                <li><a href="<?php echo APP_ROOT; ?>product/list" class="link-menu">Products</a></li>
                <li><a href="<?php echo APP_ROOT; ?>log/list" class="link-menu">Log</a></li>
            </ul>
        </div>
        </amp-sidebar>
        <header>
            <div class="go-menu">
                <a on="tap:sidebar.toggle">☰</a>
                <a href="<?php echo APP_ROOT; ?>dashboard/index" class="link-logo"><img src="<?php echo APP_ROOT;?>/assets/images/go-logo.png" alt="Welcome" width="69" height="430" /></a>
            </div>
            <div class="right-box">
                <span class="go-title">Administration Panel</span>
            </div>
        </header>  
        <!-- Header -->