<?php include 'view/site/common/header.phtml'; ?>
<!-- Main Content -->
<main class="content">
    <div class="header-list-page">
        <h1 class="title">Log</h1>
    </div>
    <table class="data-grid">
        <tr class="data-row">
            <th class="data-grid-th">
                <span class="data-grid-cell-content">IP</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Action</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Date</span>
            </th>
        </tr>
        <?php if (count($all_log) > 0) { ?>
            <?php foreach ($all_log as $log) { ?>
                <tr class="data-row">
                    <td class="data-grid-td">
                        <span class="data-grid-cell-content"><?php echo $log['ip']; ?></span>
                    </td>
                    <td class="data-grid-td">
                        <span class="data-grid-cell-content"><?php echo $log['action']; ?></span>
                    </td>
                    <td class="data-grid-td">
                        <span class="data-grid-cell-content"><?php echo $log['date']; ?></span>
                    </td>
                </tr>
            <?php } ?>
        <?php } else { ?>
            <tr class="data-row">
                <td class="data-grid-td" colspan="3">
                    <span class="data-grid-cell-content">Nenhum resultado encontrado</span>
                </td>
            </tr>
        <?php } ?>
    </table>
</main>
<!-- Main Content -->
<?php include 'view/site/common/footer.phtml'; ?>