<?php include 'view/site/common/header.phtml'; ?>
<main class="content">
    <h1 class="title new-item">New Product</h1>
    <form action="<?php echo $url_submit; ?>" method="POST">
        <div class="input-field">
            <label for="sku" class="label">Product SKU</label>
            <input type="text" name="sku" class="input-text" value="<?php echo $sku; ?>"/>
            <?php if (!empty($error_sku)) { ?>
                <p class="text-error"><?php echo $error_sku; ?></p>
            <?php } ?>
        </div>
        <div class="input-field">
            <label for="name" class="label">Product Name</label>
            <input type="text" name="name" class="input-text" value="<?php echo $name; ?>"/> 
            <?php if (!empty($error_name)) { ?>
                <p class="text-error"><?php echo $error_name; ?></p>
            <?php } ?>
        </div>
        <div class="input-field">
            <label for="price" class="label">Price</label>
            <input type="text" name="price" class="input-text" value="<?php echo $price; ?>"/> 
            <?php if (!empty($error_price)) { ?>
                <p class="text-error"><?php echo $error_price; ?></p>
            <?php } ?>
        </div>
        <div class="input-field">
            <label for="quantity" class="label">Quantity</label>
            <input type="text" name="quantity" class="input-text" value="<?php echo $quantity; ?>"/> 
            <?php if (!empty($error_quantity)) { ?>
                <p class="text-error"><?php echo $error_quantity; ?></p>
            <?php } ?>
        </div>
        <div class="input-field">
            <label for="category" class="label">Categories</label>
            <select multiple name="categories[]" class="input-text">
                <?php foreach ($all_category as $category) { ?>
                    <?php if (in_array($category['id'], $categories)) { ?>
                        <option value="<?php echo $category['id']; ?>" selected><?php echo $category['name']; ?></option>
                    <?php } else {?>
                        <option value="<?php echo $category['id']; ?>"><?php echo $category['name']; ?></option>
                    <?php } ?>
                <?php } ?>
            </select>
            <?php if (!empty($error_categories)) { ?>
                <p class="text-error"><?php echo $error_categories; ?></p>
            <?php } ?>
        </div>
        <div class="input-field">
            <label for="description" class="label">Description</label>
            <textarea name="description" class="input-text"><?php echo $description; ?></textarea>
            <?php if (!empty($error_description)) { ?>
                <p class="text-error"><?php echo $error_description; ?></p>
            <?php } ?>
        </div>
        <div class="actions-form">
        <a href="<?php echo $url_back; ?>" class="action back">Back</a>
        <button type="submit" class="btn-submit btn-action">Save Product</button>
        </div>
    </form>
</main>
<!-- Main Content -->
<script>
    $("input[name=\'price\']").maskMoney({thousands: ".", decimal: ","});
</script>
<?php include 'view/site/common/footer.phtml'; ?>
