<?php include 'view/site/common/header.phtml'; ?>
<!-- Main Content -->
<main class="content">
    <div class="header-list-page">
        <h1 class="title">Products</h1>
        <a href="<?php echo $url_import; ?>" class="btn-action">Import</a>
        <a href="<?php echo $url_add; ?>" class="btn-action">Add new product</a>
    </div>
    <?php if (isset($success)) { ?>
        <p class="text-success"><?php echo $success; ?></p>
    <?php } ?>
    <table class="data-grid">
        <tr class="data-row">
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Name</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content">SKU</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Price</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Quantity</span>
            </th>
            <th class="data-grid-th">
                <span class="data-grid-cell-content">Categories</span>
            </th>

            <th class="data-grid-th">
                <span class="data-grid-cell-content">Actions</span>
            </th>
        </tr>
        <?php foreach ($all_product as $product) { ?>
            <tr class="data-row">
                <td class="data-grid-td">
                    <span class="data-grid-cell-content" title="<?php echo $product['name']; ?>"><?php echo $product['name_resume']; ?></span>
                </td>
                <td class="data-grid-td">
                    <span class="data-grid-cell-content"><?php echo $product['sku']; ?></span>
                </td>
                <td class="data-grid-td">
                    <span class="data-grid-cell-content"><?php echo $product['price']; ?></span>
                </td>
                <td class="data-grid-td">
                    <span class="data-grid-cell-content"><?php echo $product['quantity']; ?></span>
                </td>
                <td class="data-grid-td">
                    <span class="data-grid-cell-content"><?php echo $product['categories']; ?></span>
                </td>
                <td class="data-grid-td">
                    <div class="actions">
                        <div class="action edit"><a href="<?php echo $product['edit']; ?>">Edit</a></div>
                        <div class="action delete"><a onclick="return confirm('Tem certeza que deseja excluir o produto?')"href="<?php echo $product['delete']; ?>">Delete</a></div>
                    </div>
                </td>
            </tr>
        <?php } ?>
    </table>
</main>
<!-- Main Content -->
<?php include 'view/site/common/footer.phtml'; ?>